{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="row book-container">
    <h2 class="fw-bold mt-2 text-black text-center w-100 mx-auto">Create a Newsletter</h2>
    <form method="POST" action="" class="form bag-bottom mx-auto w-75" enctype="multipart/form-data">
        {% csrf_token %}
        <p class="text-black">{{letter_form|crispy}} </p>
        <div class="text-right">
            <a class="btn btn-outline-black rounded-0" href="{% url 'home' %}">Cancel</a>
            <button class="btn btn-black rounded-0" type="submit">Create Newsletter</button>
        </div>
    </form>

</div>
{% endblock %}

{% block postloadjs %}

{% endblock %}