{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- HTMl structure modified from https://mdbootstrap.com/docs/standard/extended/shopping-carts/ -->
<section class="h-100 h-custom checkout-summary">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2 checkout-card">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-8">
                                <div class="p-5">
                                    <div class="d-flex justify-content-between align-items-center mb-5">
                                        <h1 class="fw-bold mb-0 text-black">Book Bag</h1>
                                        <h6 class="mb-0 text-muted">{{ book_count }} Books</h6>
                                    </div>
                                    <hr class="my-4">

                                    {% for item in bag_items %}
                                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                                        <div class="col-md-2 col-lg-2 col-xl-2">
                                            <img src="{{ item.book.image_url }}" class="img-fluid rounded-3"
                                                alt="item image">
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-3">
                                            <h6 class="text-black mb-0">{{ item.book.title }}</h6>
                                            <br>
                                            <h6 class="text-black mb-0">{{ item.book.author }}</h6>
                                        </div>


                                        <form class="form update-form" action="{% url 'adjust_bag' item.item_id %}"
                                            method="POST">
                                            {% csrf_token %}
                                            <div class="form-row">
                                                <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <button class="decrement-qty btn px-2"
                                                                    data-item_id="{{ item.item_id }}"
                                                                    id="decrement-qty_{{ item.item_id }}">
                                                                    <i class="fas fa-minus"></i>
                                                                </button>
                                                            </div>
                                                            <input class="form-control form-control-sm qty_input"
                                                                type="number" name="quantity"
                                                                value="{{ item.quantity }}" min="1" max="99"
                                                                data-item_id="{{ item.item_id }}"
                                                                id="id_qty_{{ item.item_id }}">
                                                            <div class="input-group-append">
                                                                <button class="increment-qty btn px-2"
                                                                    data-item_id="{{ item.item_id }}"
                                                                    id="increment-qty_{{ item.item_id }}">
                                                                    <span class="icon">
                                                                        <i class="fas fa-plus"></i>
                                                                    </span>
                                                                </button>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <a class="update-link text-info"><small>Update</small></a>
                                        <a class="remove-item text-danger float-right"
                                            id="remove_{{ item.item_id }}"><small>Remove</small></a>
                                    </div>
                                    <hr class="my-4">
                                    {% endfor %}






                                    <div class="pt-5">
                                        <h6 class="mb-0"><a href="{% url 'books' %}" class="text-body"><i
                                                    class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 bg-grey">
                                <div class="p-5">
                                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-4">
                                        <h5 class="text-uppercase inline"> {{ book_count }} Items</h5>
                                        <h5>£{{ total|floatformat:2 }}</h5>
                                    </div>

                                    <div class="d-flex justify-content-between mb-4">
                                        <h5 class="text-uppercase"> Shipping</h5>
                                        <h5>£{{ delivery|floatformat:2 }}</h5>
                                    </div>

                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-4 text-uppercase">
                                        <h5 class="text-uppercase"> Total Price</h5>
                                        <h5>£{{ grand_total|floatformat:2 }}</h5>
                                    </div>

                                    <a href="{% url 'checkout' %}" class="btn btn-dark btn-block btn-lg"
                                        data-mdb-ripple-color="dark">Place Order</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block postloadjs %}
{{ block.super }}
{% include 'books/includes/quantity_input_script.html' %}
<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}