html {
    height: 100%;
}

body {
    background: url('/media/homepage_background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #555;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    color: #A84F91;
    padding: 1em;
    font-size: 2em;
    font-family: 'Lobster Two', cursive;
}

.main-logo-link {
    width: fit-content;
    display: flex;
}

.browse-button {
    background: #A84F91;
    color: white;
    min-width: 260px;
    font-family: 'Lato', sans-serif;
    margin-top: 50vh;
}

.btn-black {
    background: #2e2836;
    color: white;
}

.browse-button:hover,
.browse-button:active,
.browse-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #2e2836;
    color: white;
}

.text-black {
    color: #2e2836 !important;
    font-family: 'Lato', sans-serif;
}

.border-black {
    border: 1px solid #2e2836 !important;
}

.button-wrapper {
    display: block;
    text-align: center;
}

.menu-text {
    font-size: 2em;
    padding: 1em;
}

.banner {
    background-color: #EFE887;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}