html {
    height: 100%;
}

body {
    background: url('/media/homepage_background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #555;
}

.book-card{
    padding-bottom: 5vh;
    padding-top: 5vh;
}
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    color: #A84F91;
    padding: 1em;
    font-size: 3em;
    font-family: 'Lobster Two', cursive;
}

.main-logo-link {
    width: fit-content;
    display: flex;
}

.browse-button {
    background: #A84F91;
    color: white;
    min-width: 260px;
    font-family: 'Lato', sans-serif;
    margin-top: 50vh;
}

.btn-black {
    background: #2e2836;
    color: white;
}

.browse-button:hover,
.browse-button:active,
.browse-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #2e2836;
    color: white;
}

.text-black {
    color: #2e2836 !important;
    font-family: 'Lato', sans-serif;
}

.border-black {
    border: 1px solid #2e2836 !important;
}

.button-wrapper {
    display: block;
    text-align: center;
}

.menu-text {
    font-size: 2em;
    padding: 1em;
}

.banner {
    background-color: #EFE887;
}

.socials {
    padding: 0.5em;
    font-size: 3em;
}

.footer-text {
    font-size: 2em;
    color: #A84F91;
    padding: 1em;
    font-family: 'Lobster Two', cursive;

}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (min-width: 768px) and (max-width:1440px) {
    .logo-font, .menu-text, .footer-text{
        font-size: 1.5em;
        padding: 0.5em;
    }
    
    .header-container {
        padding-top: 100px;
    }

}

@media (min-width: 320px) and (max-width: 768px) {
    .logo-font, .menu-text, .footer-text {
        font-size: 1em;
        padding: 0.25em;
    }

    .socials {
        font-size: 1em;
    }

    .icon {
        height: 1rem;
        width: 1rem;
    }
}

/* bootstrap bag.html styling */
@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.bg-grey {
    background-color: #eae8e8;
}

@media (min-width: 992px) {
    .card-registration-2 .bg-grey {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}

@media (max-width: 991px) {
    .card-registration-2 .bg-grey {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}

.checkout-summary{
    background-color: #A84F91;
}

.checkout-card {
    border-radius: 15px;
}